desenet-sensor/documentation/*
desenet-sensor/ide-qtcreator/build-*
DeseNET-Testbench/*

desenet-sensor/src/xf/doxygen/*
Download/*
MeshSimulator/*
DeseNET-Sensor-Demo/*
desenet-sensor/ide-qtcreator/desenet-sensor/desenet-sensor.pro.user
desenet-sensor/ide-qtcreator/desenet-sensor/desenet-sensor.pro.user*
desenet-sensor/ide-stm32cubeide/Debug_Full/*
desenet-sensor/ide-stm32cubeide/.settings/language.settings.xml
desenet-sensor/ide-stm32cubeide/launch/desenet-sensor Debug_Full.launch
desenet-sensor/ide-stm32cubeide/platform/nucleo-stm32l476rg/isrs.cpp
desenet-sensor/ide-stm32cubeide/platform/nucleo-stm32l476rg/platform-config.h
